.product-container2{
    width: 300px;
    height: 470px;
    overflow: hidden;
    // border: 1px solid black;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    line-height: 1.5rem;

    .prev2{
        position: absolute;
        top: 40%;
        left: 2%;
    }
    .next2{
        position: absolute;
        top: 40%;
        right: 2%;
    }
  }
  
  
  .Productcarousel2 {
    display: flex;
  }